{% extends 'base.html' %}

{% block content %}
<section class="slider flexslider2 page-inner">
  <div class="overlay"></div>
  <div class="wrap-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <div class="page-title animate">
            <div class="breadcrumbs">
              <a href="{% url 'home:home' %}">Home</a><span> <a href="{% url 'app:property_list' %}">Property</span></a>
            </div>
            <h1>Properties</h1>
          </div>

        </div>
      </div>
    </div>
  </div>
  </section>

<!-- listing section -->
  <section class="section section-lighter">
    <div class="container">
      <div class="row">

        <div class="page-title animate">
          <div class="breadcrumbs">
            <a href="{% url 'home:home' %}"> Home</a>  <span><a href="{% url 'app:property_list' %}">Property</a>
          </div>
          <h1>Properties</h1>
        </div>

        {% for property in property_list %}

        <div class="col-md-4 col-sm-6">
          <div class="card listing">
         
            <div class="card-media">
              <img class="card-img-top"
        
              src="{{property.featured_image.url}}" class="img-responsive" alt="">
              <!-- <a href="#" class="love"><i class="icon-heart"></i></a> -->
             
            </div>
          
            <div class="card-text">
              <h2 class="card-heading"><a href="{% url 'app:property_detail' property.id %}">{{property}}</a></h2>
              <div class="listing-location">
                <i class="icon-location2"></i> <span>{{property.direction}}</span>
              </div>
              <div class="listing-category for-sale"><span>for {{property.property_type}}</span></div>
              <div class="listing-price"><strong>£{{property.price}}</strong> / month</div>
            </div>
            <div class="card-extra">
              <ul>
                <li>
                  Beds
                  <span>{{property.bedrooms_num}}</span>
                </li>
                <li>
                  Baths
                  <span>{{property.bathroom_num}}</span>
                </li>
                <li>
                  Parking
                  <span>{{property.parking}}</span>
                </li>
              </ul>
            </div>
            </div>       
        </div>

        {% endfor %}

        <!-- <div class="clearfix visible-sm-block"></div> -->
        

      </div>
    </div>
  </section>

   {%endblock%}